.container {
  max-width: 1128px;
  margin: 24px 156px;
}
.gallery {
  padding: 0px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  transform: scale(1);
  transition: transform 0.5s;
}
/* body .sl-overlay {
  background-color: rgba(46, 47, 66, 0.8);
}
body .sl.counter {
  color: #fff !important;
} */
